[Desktop Entry]
Terminal=false
Type=Application
Categories=MATE;GTK;System;
StartupNotify=false
Name=GhostBSD Welcome
Exec=/usr/local/bin/ghostbsd-welcome
Icon=ghostbsd
Comment=A tool providing access to documentation and support for new GhostBSD users.
Comment[de]=Ein Tool für schnellen Zugriff auf Support und Dokumentation für neue GhostBSD-Nutzer.
Comment[es]=Una herramienta que provee acceso a la documentación y soporte para nuevos usuarios de GhostBSD.
Comment[fr]=Outil d'accès à la documentation et support aux nouveaux utilisateurs de GhostBSD.
Comment[it]=Strumento per accedere alla documentazione e supporto per nuovi utenti GhostBSD.
